<p id="notice"><%= notice %></p>

<h1><%= @eth_statistics[0].start_date%> to <%= @eth_statistics[0].end_date%></h1>
<h2>Weekly Eth Statistics</h2>

<table>
  <thead>
    <tr>
      <th>Package</th>
      <th>Downloads</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @eth_statistics.each do |statistic| %>
      <tr>
        <td><%= statistic.package %></td>
        <td><%= number_to_human(statistic.downloads, units: { unit: "", thousand: "k", million: "m"}) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Weekly Other Statistics</h2>

<table>
  <thead>
    <tr>
      <th>Package</th>
      <th>Downloads</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @other_statistics.each do |statistic| %>
      <tr>
        <td><%= statistic.package %></td>
        <td><%= number_to_human(statistic.downloads, units: { unit: "", thousand: "k", million: "m"}) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

